<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리 페이지</title>
    <style>
        .warning {
            color: red
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url "accounts:index" %}">Home</a> | 
        {% if user.is_authenticated %}
            <a href="{% url "accounts:profile" %}">프로필</a>
            <form action="{% url "accounts:logout" %}" method="POST">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
        {% else %}
            <a href="{% url "accounts:signup" %}">회원가입</a>  |
            <a href="{% url "accounts:login" %}">로그인</a>  | 

        {% endif %}
        
        
        
    </nav>

    {% comment %} <p>환영합니다! {{ user }}님!</p>
    <p>닉네임: {{ user.nickname }}</p>
    <img src="{{ user.profile_image.url }}" alt="">
     {% endcomment %}

    <h1>회원 관리 연습 프로젝트</h1>
    {% if messages %}
        {% for message in messages %}
                <div class="warning"> {{ meassage }}</div>
            {{ message }}
        {% endfor %}
      
    
    {% endif %}

    {% block content %}
    {% endblock content %}
</body>
</html>